<div class="Pricing_sec" id="pricing">
  <div class="Center">
    <h2>Director Board</h2>
    <p>Meet Our Leadership<br></p>
    <div class="Line"></div>
    <!-- \\ Begin Pricing Side \\ -->
    <div class="container pt-5">
      <div class="row justify-content-md-center">
        <div class="col-4 col-md justify-content-md-center">
          <img src="../../assets/img/team/LILAN_.png" width="200px">
          <p><b>Lilan</b> <br>Director of Finance</p>
        </div>
        <div class="col-4 col-md justify-content-md-center">
          <img src="../../assets/img/team/Pankajan.png" width="200px">
          <p><b>Pankajan</b> <br>Director of Research and Development</p>
        </div>
        <div class="col-4 col-md justify-content-md-center">
          <img src="../../assets/img/team/Mihindu_1.png" width="200px">
          <p><b>Mihindu</b> <br>Director of Software Development</p>
        </div>
        <div class="col-4 col-md">
          <img src="../../assets/img/team/Zeena1.png" width="200px">
          <p><b>Zeena</b> <br>Director of Human Resources</p>
        </div>
        <div class="col-4 col-md">
          <img src="../../assets/img/team/Sanjula.png" width="200px">
          <p><b>Sanjulla</b> <br>Director of Marketing</p>
        </div>
      </div>
    </div>
    <!-- // End Pricing Side // -->
  </div>
</div>

