<div class="about-team">
  <div class="container">
    <h3 class="title">Our Team</h3>
    <div class="row team-row">
      <div class="col-sm-6 col-md-3 team-grids">
        <div class="thumbnail team-thmnl">
          <img src="../../assets/img/team/LILAN_.png" class="img-responsive zoom-img" alt="..." width="100px">
          <div class="caption">
            <h4><a href="#">Lilan</a></h4>
            <p>Final year undergraduate - Bsc.(Hons) Business Management Accountancy at University of Kelaniya.</p><p>
            Qualifications:CIMA[Dip], CMA [final],  AAT [Passed finalist]
          </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 team-grids">
        <div class="thumbnail team-thmnl">
          <img src="../../assets/img/team/Pankajan.png" class="img-responsive zoom-img" alt="..." width="100px">
          <div class="caption">
            <h4><a href="#">Pankajan</a></h4>
            <p>3rd year Undergraduate - Bsc.(Hons) Software Engineering at University of Kelaniya.</p><p>
            Qualifications: Information Technology(Dip), Full Stack Web Developer
          </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 team-grids">
        <div class="thumbnail team-thmnl">
          <img src="../../assets/img/team/Mihindu_1.png" class="img-responsive zoom-img text-center" alt="..." width="100px">
          <div class="caption">
            <h4><a href="#">Mihindu</a></h4>
            <p>3rd year Undergraduate - Bsc.(Hons) Software Engineering at University of Kelaniya.</p>
            <p>Qualifications:    Human Resource Management ( CIPM )
              Com.Member - Google Developer Groups Sri Lanka(GDG)
              Srilanka Section Lead - IEEEXtreme
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 team-grids">
        <div class="thumbnail team-thmnl">
          <img src="../../assets/img/team/Zeena1.png" class="img-responsive zoom-img" alt="..." width="100px">
          <div class="caption">
            <h4><a href="#">Zeena</a></h4>
            <p>3rd year Undergraduate - Bsc.(Hons) Software Engineering at University of Kelaniya.</p>
            <p>Qualifications:    Ambassador at Facebook Developer Circles- Colombo
              Web developer at hometutors.lk,
              Former Vice Secretary IEEE Student Branch UOK
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
