<div class="Contact_sec" id="contact">
  <div class="Contactside">
    <div class="Center">
      <h2>contact us</h2>
      <p>There are many ways you can get in touch with us about any of our services.<br>
        Contact by phone or live chat to order new service, track orders, and get customer service, billing and tech support.</p>
      <div class="Line"></div>
    </div>

  </div>
  <!-- \\ Begin Get Section \\ -->
  <div class="Get_sec">
    <div class="Mid">
      <!-- \\ Begin Left Side \\ -->
      <div class="Leftside">
        <form action="#">
          <fieldset>
            <p><input type="text" value="" placeholder="NAME" class="field"></p>
            <p><input type="email" value="" placeholder="EMAIL" class="field"></p>
            <p><input type="text" value="" placeholder="TITLE" class="field"></p>
            <p><textarea cols="2"  rows="2" placeholder="MESSAGE"></textarea></p>
            <p><input type="submit" value="send" class="button"></p>
          </fieldset>
        </form>
      </div>
      <!-- // End Left Side // -->
      <!-- \\ Begin Right Side \\ -->
      <div class="Rightside">
        <h3>Get in touch !</h3>
        <address>
          ELZIAN (PVT) LTD, Mallavapittiya, Keppedigala Rd,  Kurunegala.
        </address>
        <address class="Number">
          +94 768416637<br>
        </address>
        <address class="Email">
          <a href="mailto:hello@elzian.com">hello@elzian.com</a>
        </address>
        <div class="clear"></div>
        <ul>
          <li><a rel="nofollow" href="https://www.facebook.com/ELZIANN"
                 target="_parent"><img src="../../assets/img/facebook-icn.png" alt="image"></a></li>
          <li><a href="#"><img src="../../assets/img/twitter-icn.png" alt="image"></a></li>
          <li><a href="#"><img src="../../assets/img/google-plus-icn.png" alt="image"></a></li>
        </ul>
      </div>
      <!-- // End Right Side // -->
    </div>
  </div>
  <!-- // End Get Section // -->

</div>
