<div class="Banner_sec" id="home">
  <!--  \\ Begin banner Side -->
  <div class="bannerside">
    <div class="Center">
      <!--  \\ Begin Left Side -->
      <div class="leftside">
        <h3>Technology <span></span>Solutions</h3>
        <p>Startup Solutions was formed to help to grow your business. We are coming up with unique products to meet different types of customers' needs.</p>
        <a href="#about">MORE DETAILS</a>
      </div>
      <!--  // End Left Side // -->
      <!--  \\ Begin Right Side -->
      <div class="rightside">
        <ul id="slider">
          <li>
            <div class="Slider">
              <figure><img src="../../assets/img/Slider-img1.jpg" alt="image"></figure>
            </div>
          </li>
          <li>
            <div class="Slider">
              <figure><img src="../../assets/img/Slider-img2.jpg" alt="image"></figure>
              <div class="text">
                <div class="Icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-heart"></i>7.2K</a></li>
                    <li class="num"><a href="#"><i class="fa fa-commenting"></i>1.8K</a></li>
                  </ul>
                </div>
                <div class="Lorem">
                  <p>Partnering up with Elzian Agro</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <figure><img src="../../assets/img/Shadow-img.png" alt="image" class="Shadow"></figure>
      </div>
      <!--  // End Right Side // -->
    </div>
  </div>
  <!--  // End banner Side // -->
  <div class="clear"></div>
</div>
<!-- // End Banner Section // -->
<div class="bgcolor"></div>

