<div class="Banner_sec" id="home">
  <!--  \\ Begin banner Side -->
  <div class="bannerside">
    <div class="Center">
      <!--  \\ Begin Left Side -->
      <div class="leftside">
        <h3>Innovative <span></span>Solutions</h3>
        <p>We are coming up with innovative products & Servicesto meet different types of human needs.</p>
        <a href="#services">More About Elzian</a>
        <p>We are ELZIAN who passionate about providing world-class service experiences.</p>
      </div>
      <!--  // End Left Side // -->


      <!--  \\ Begin Right Side -->
      <div class="rightside">
        <ul id="slider">
          <li>
           <div class="Slider">
              <figure><img src="assets/img/Slider-img1.jpg" alt="image"></figure>
            </div>
          </li>
          <li>
            <div class="Slider">

              <figure><a href="https://agro.elzian.com/"><img src="assets/img/logo/elzian_agro.jpg" alt="image"></a></figure>
              <div class="text">
                <div class="Icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-heart"></i>7.2K</a></li>
                    <li class="num"><a href="#"><i class="fa fa-commenting"></i>1.8K</a></li>
                  </ul>
                </div>
                <div class="Lorem">
                  <a href="https://agro.elzian.com/"><p>Click here to experience our Elzian Agro platform</p></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="Slider">

              <figure><a href="https://marketing.elzian.com/"><img src="assets/img/service/marketing.jpg" alt="image"></a></figure>
              <div class="text">
                <div class="Icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-heart"></i>3.2K</a></li>
                    <li class="num"><a href="#"><i class="fa fa-commenting"></i>2.3K</a></li>
                  </ul>
                </div>
                <div class="Lorem">
                  <a href="https://marketing.elzian.com/"><p>Click here to experience our Elzian Marketing platform</p></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="Slider">

              <figure><a href="https://finance.elzian.com/"><img src="assets/img/service/finance.jpg" alt="Elzian finance"></a></figure>
              <div class="text">
                <div class="Icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-heart"></i>4.8K</a></li>
                    <li class="num"><a href="#"><i class="fa fa-commenting"></i>1.7K</a></li>
                  </ul>
                </div>
                <div class="Lorem">
                  <a href="https://finance.elzian.com/"> <p>Click here to experience our Elzian Finance platform</p></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <figure><img src="assets/img/Shadow-img.png" alt="image" class="Shadow"></figure>
      </div> 
      
      <!--  // End Right Side // -->
    </div>
 </div>
  <!--  // End banner Side // -->
  <!--<div class="clear"></div> -->
</div>
<!-- // End Banner Section // -->
<!--<div class="bgcolor"></div>-->

