<div class="Banner_sec" id="home">
  <!--  \\ Begin banner Side -->
  <div class="bannerside">
    <div class="Center">
      <!--  \\ Begin Left Side -->
      <div class="leftside">
        <h3>Innovative <span></span>Solutions</h3>
        <p>We are coming up with innovative products & Servicesto meet different types of human needs.</p>
        <a href="https://agro.elzian.com/">More About Elzian Agro</a>
        <p>ELZIAN AGRO is a platform which provides smart agronomy solutions to protect farmers hard earned harvest from pests.</p>
      </div>
      <!--  // End Left Side // -->

      <!--  \\ Begin Right Side -->
      <div class="rightside">
        <ul id="slider">
         <!-- <li>
           <div class="Slider">
              <figure><img src="../../assets/img/Slider-img1.jpg" alt="image"></figure>
            </div>
          </li>
          -->
          <li>
            <div class="Slider">

              <figure><a href="https://agro.elzian.com/"><img src="../../assets/img/logo/elzian_agro.jpg" alt="image"></a></figure>
              <!--
              <div class="text">
                <div class="Icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-heart"></i>7.2K</a></li>
                    <li class="num"><a href="#"><i class="fa fa-commenting"></i>1.8K</a></li>
                  </ul>
                </div>
                <div class="Lorem">
                  <p>Click here to experience our Elzian Agro platform</p>
                </div>
              </div>
              -->
            </div>
          </li>
        </ul>
        <figure><img src="../../assets/img/Shadow-img.png" alt="image" class="Shadow"></figure>
      </div> 
      
      <!--  // End Right Side // -->
    </div>
 </div>
  <!--  // End banner Side // -->
  <!--<div class="clear"></div> -->
</div>
<!-- // End Banner Section // -->
<!--<div class="bgcolor"></div>-->

